<link rel="stylesheet" href="./taixiu2/thai.css">

<script src="/vendor/jquery/jquery.min.js"></script>     
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">



<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script type='text/javascript' src='/taixiu2/assets/js/jquery.js?ver=1.0.0' id='jque'></script>
<script type='text/javascript' src='/taixiu2/assets/js/main.js?ver=1.0.0' id='k2_kinhdo-main-js'></script>
<div id="main-tx">

    <div class="test draggable dragaware" style="top: 401px; left: 196px;">

        <div class="sha-home">
            <div class="container-tai-xiu tai-xiu-show">
                <div class="container-txs">
                    <div class="container-tx">
                        <div class="tx-ban">
                            <img src="./taixiu2/assets/images/ban-tai-xiu/ban-tai-xiu.png" alt="">
                        </div>

                        <div class="w-id-user color-text">
                            #666888
                        </div>

                        <div class="user-tai color-text">99</div>
                        <div class="user-xiu color-text">88</div>

                        <div class="w-button-left">
                            <div class="item-left l-top">
                                <img src="./taixiu2/assets/images/ban-tai-xiu/top.png" alt="">
                            </div>
                            <div class="item-left l-info">
                                <img src="./taixiu2/assets/images/ban-tai-xiu/info.png" alt="">
                            </div>
                            <div class="item-left l-huong">
                                <img src="./taixiu2/assets/images/ban-tai-xiu/huong-dan.png" alt="">
                            </div>
                            <div class="item-left l-thong">
                                <img src="./taixiu2/assets/images/ban-tai-xiu/thong-tin.png" alt="">
                            </div>
                        </div>  

                        <div class="w-button-right">
                            <div class="item-button r-x">
                                <img src="./taixiu2/assets/images/ban-tai-xiu/x.png" alt="">
                            </div>
                            <div class="item-button r-chat">
                                <img src="./taixiu2/assets/images/ban-tai-xiu/chat.png" alt="">
                            </div>
                            <div class="item-button r-nan">
                                <img src="./taixiu2/assets/images/ban-tai-xiu/nan.png" alt="">
                            </div>
                            <div class="item-button r-phien">
                                <img src="./taixiu2/assets/images/ban-tai-xiu/phien.png" alt="">
                            </div>
                        </div> 

                        <div class="w-tai winw">
                            <div class="img-tai img-title">
                                <img src="./taixiu2/assets/images/ban-tai-xiu/tai.png" alt="">
                            </div>
                            <div class="total-tai total-money color-text">123,456,789</div>
                            <div class="total-cuoc total-cuoc-tai color-text">100</div>
                            <div class="w-button-tai w-button">
                                <img src="./taixiu2/assets/images/ban-tai-xiu/cuoc-on.png" alt="">
                            </div>

                            <div class="w-siwi">
                              <img class="img-1" src="./taixiu2/assets/images/siwi1.png" alt="">
                              <img class="img-2" src="./taixiu2/assets/images/siwi2.png" alt="">
                              <img class="img-3" src="./taixiu2/assets/images/siwi3.png" alt="">
                            </div>
                        </div> 

                        <div class="w-xiu">
                            <div class="img-xiu img-title">
                                <img src="./taixiu2/assets/images/ban-tai-xiu/xiu.png" alt="">
                            </div>
                            <div class="total-xiu total-money color-text">123,456,789</div>
                            <div class="total-cuoc total-cuoc-xiu color-text">200</div>
                            <div class="w-button-xiu w-button">
                                <img src="./taixiu2/assets/images/ban-tai-xiu/cuoc-on.png" alt="">
                            </div>

                            <div class="w-siwi">
                              <img class="img-1" src="./taixiu2/assets/images/siwi1.png" alt="">
                              <img class="img-2" src="./taixiu2/assets/images/siwi2.png" alt="">
                              <img class="img-3" src="./taixiu2/assets/images/siwi3.png" alt="">
                            </div>
                        </div> 

                        <div class="w-phien">
                            <div class="item-his"></div>
                            <div class="item-his"></div>
                            <div class="item-his"></div>
                            <div class="item-his"></div>
                            <div class="item-his item-xiu"></div>
                            <div class="item-his"></div>
                            <div class="item-his"></div>
                            <div class="item-his"></div>
                            <div class="item-his item-xiu"></div>
                            <div class="item-his"></div>
                            <div class="item-his"></div>
                            <div class="item-his item-xiu"></div>
                            <div class="item-his"></div>
                            <div class="item-his"></div>
                            <div class="item-his item-xiu"></div>
                            <div class="item-his item-xiu"></div>
                            <div class="item-his item-xiu"></div>
                        </div>

                        <div class="w-count color-text">38</div>
                    </div>

                    <div class="option-cuoc">
                        <div class="w-select-money">
                            <div class="item">
                                <img src="./taixiu2/assets/images/ban-tai-xiu/coin.png" alt="">
                            </div>
                            <div class="item">
                                <img src="./taixiu2/assets/images/ban-tai-xiu/coin.png" alt="">
                            </div>
                            <div class="item">
                                <img src="./taixiu2/assets/images/ban-tai-xiu/coin.png" alt="">
                            </div>
                            <div class="item">
                                <img src="./taixiu2/assets/images/ban-tai-xiu/coin.png" alt="">
                            </div>
                            <div class="item">
                                <img src="./taixiu2/assets/images/ban-tai-xiu/coin.png" alt="">
                            </div>
                        </div>

                        <div class="w-action">
                            
                            <div class="item-left">
                                <img src="./taixiu2/assets/images/ban-tai-xiu/all-in.png" alt="">
                            </div>
                            
                            <div class="item-center">
                                <img src="./taixiu2/assets/images/ban-tai-xiu/dat-cuoc.png" alt="">
                            </div>
                            
                            <div class="item-right">
                                <img src="./taixiu2/assets/images/ban-tai-xiu/huy.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>

    </div>

</div>
