<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold">Cài đặt id nạp rút vàng
                </h3>

            </div>

        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Thêm nhân vật</h4>
        
            <form class="form-inline">
              
             
            
              <label class="sr-only" for="inlineFormInputGroupUsername2">Tên nhân vật</label>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">@</div>
                </div>
                <input id="tnv" type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
              </div>
             
              <button onclick="addid()" type="submit" class="btn btn-primary mb-2">Thêm</button>
            </form>
          </div>
        </div>
      </div>
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">ID NẠP RÚT</h4>
                
                <div class="table-responsive">
                    <table class=" table table-striped table-borderless">
                        <thead>
                            <tr>
                                <th>Tên nhân vật</th>
                                <th>Hành động</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% for (var i=0; i < idnaprut.length; i++) { %>
                                    <tr>
                                        <td><%=idnaprut[i].tnv%></td>
                                        <td><a onclick="deletee('<%=idnaprut[i]._id%>')">xoa</a></td>
                                    </tr>
                                <%}%>
                        </tbody>
                    </table>

                </div>


            </div>
        </div>
    </div>




</div>

<script>




    function addid(){
        $.ajax({
            url: "/idnaprut",
            type: "post",

            data: {
                type:"add",
                tnv: $('#tnv').val()
            },
            success: function (result) {

                alert(result)
            }
        });
    }

    function deletee(id){
        $.ajax({
            url: "/idnaprut",
            type: "post",

            data: {
                type:"xoa",
                id: id
            },
            success: function (result) {

                alert(result)
            }
        });
    }



</script>